.app__nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.app__nav ul a {
    color: #050505;
    display: block;
    padding: 5px 20px;
    transition: transform 0.15s ease;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.app__nav ul a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #000;
    opacity: 0;
    transform: translate(0px, -100%);
    transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.app__nav ul li:nth-child(1) a:before {
    background-color: blue;
}

.app__nav ul li:nth-child(2) a:before {
    background-color: red;
}

.app__nav ul li:nth-child(3) a:before {
    background-color: green;
}

.app__nav ul li:nth-child(4) a:before {
    background-color: orange;
}

.app__nav ul a:not(.active):hover {
    transform: translateX(5px);
}

.app__nav ul a.active {
    color: crimson;
}

.app__nav ul a.active:before {
    opacity: 1;
    transform: none;
}